//Function
@import "mixins";
//Googlr fonts
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
//Default params
$fontFamily: "Heebo";
$minWidth: 990px;
//Clear default style
@import "null";

h1 {
    font-size: 20px;
    padding: 5px;
}
.game-box {
    margin: 0 auto;
    padding: 30px;
    text-align: center;

    &__lines {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-flow: column;
        align-items: center;
    }
    &__line {
        font-size: 0;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;

        &:first-child {
            border-top: 1px solid #000;
        }
    }
    &__suit {
        height: 60px;
        width: 60px;
        font-size: 40px;
        line-height: 60px;
        border-right: 1px solid #000;
        cursor: pointer;
        float: left;
    }
    &__suit--active,
    &__suit:hover {
        background-color: #000;
        color: #fff;
    }
    &__reset-game {
        padding: 2px 8px;
        margin: 2px;
        border-radius: 3px;
    }
    &__reset-game:hover {
        box-shadow: 0px 1px 5px rgb(154, 147, 140);
    }
}
.diams,
.hearts {
    color: red;
}
